@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    transition: all 0.3s;
    letter-spacing: 0.3px;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 8px;
    background: rgba(0, 0, 0, 0.2);
}
::-webkit-scrollbar-thumb{
    width: 8px;
    background: #009846;
    border-radius: 15px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

header, section, footer {
    position: relative;
    width: 100%;
    padding: 20px 100px;
}

.section-dark {
    width: 100%;
    background: #eee;
}

.row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.cols {
    width: 100%;
    flex: 1;
}
.container {
    padding: 20px;
    width: 100%;
    height: 100%;
    /* border: 1px solid; */
}

.flex {
    display: flex;
}
.flex-items-vc {
    align-items: center;
}
.flex-justify-hc {
    justify-content: center;
}

.text-center {
    text-align: center;
}

p {
    font-size: 14px;
    margin-bottom: 10px;
    color: #555555;
    line-height: 24px;
}

.span-text {
    color: #aaa;
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;
}
h1 {
    font-size: 50px;
    color: #009846;
    /* text-transform: uppercase; */
}
h2 {
    font-size: 24px;
    color: #555;
    text-transform: uppercase;
    margin-bottom: 20px;
}
h2 i {
    margin-right: 10px;
    color: #009846;
}

.btn {
    display: inline-block;
    border: none;
    border-radius: 5px;
    padding: 8px 14px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
    font-size: 14px;
    cursor: pointer;
    user-select: none;
}
.btn i {
    margin-right: 5px;
}
.btn-bg {
    background: #009846;
    color: #fff;
}
.btn-outline {
    background: #fff;
    border: 1px solid #009846;
    color: #555;
}
.btn-bg:hover {
    box-shadow: 0 0 0 4px rgb(0, 152, 70,0.3);
    color: #fff;
}
.btn-outline:hover {
    box-shadow: 0 0 0 4px rgb(0, 152, 70,0.3);
}

/* ---------------------------Header start here------------------------------ */
header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
    background: #fff;
    background: linear-gradient(to right bottom,
                rgba(255, 255, 255, 0.3),
                rgba(255, 255, 255, 0.3));
    backdrop-filter: blur(2rem);
    height: 96px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand {
    width: auto;
    height: 60px;
}
.brand img {
    width: 100%;
    height: 100%;
}

nav ul {
    display: flex;
}
nav ul li {
    margin-right: 20px;
    /* border-bottom: 2px solid transparent; */
}
nav ul li:last-child {
    margin: 0px;
}
nav ul li a {
    display: inline-block;
    padding: 6px 10px;
    color: #555;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}
nav ul li a i {
    margin-right: 10px;
}
nav ul li.active,
nav ul li:hover {
    border-bottom: 2px solid #009846;
}

.menu {
    width: 40px;
    height: 36px;
    background-color: rgba(0, 0, 0, 0.1);
    display: none;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
    font-size: 20px;
}
.menu:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

/* ---------------------------Header end here------------------------------ */

/*---------------------------Banner section start here-----------------------*/

.banner {
    width: 100%;
}
.banner-img {
    width: 100%;
}
.banner-img img {
    width: 100%;
    max-height: 420px;
}

/*---------------------------Banner section end here-----------------------*/

/*------------------------Our Team section start here----------------------*/

.team-image-group {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.team-image-group .team-image-box {
    position: relative;
    flex: 1 1 168px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
}
.team-image-group .team-image-box img {
    width: 100%;
    height: auto;
}
.team-image-group .team-image-box .team-img-desc {
    position: absolute;
    bottom: 5px;
    left: 5px;
    width: calc(100% - 10px);
    max-height: 35%;
    padding: 5px;
    background: #000;
    background: linear-gradient(to right bottom,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5));
    backdrop-filter: blur(5px);
    text-align: center;
}
.team-image-group .team-image-box .team-img-desc h2 {
    font-size: 12px;
    margin: 0;
    color: #fff;
}
.team-image-group .team-image-box .team-img-desc p {
    font-size: 12px;
    color: #fff;
}

/*------------------------Our Team section end here----------------------*/


/*-----------------------Gallery section start here------------------------*/

.gallery-image-group {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 13px;
}
.gallery-image-group .gallery-image-box {
    position: relative;
    width: 100%;
    min-width: 269px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    margin-bottom: 10px;
    flex: 1;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
}
.gallery-image-group .gallery-image-box:hover {
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.1);

}
.gallery-image-group .gallery-image-box img {
    width: 100%;
    height: 200px;
}

.gallery-image-group .gallery-image-box .img-desc {
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    max-height: 50%;
    padding: 15px;
    background: #000;
    background: linear-gradient(to right bottom,
                rgba(0, 0, 0, 0.5),
                rgba(0, 0, 0, 0.5));
    backdrop-filter: blur(2rem);
    overflow: auto;
    overflow-x: hidden;
}
.gallery-image-group .gallery-image-box:hover .img-desc {
    bottom: 0;
}
.gallery-image-group .gallery-image-box .img-desc h2 {
    font-size: 18px;
    color: #009846;
    margin-bottom: 5px;
}
.gallery-image-group .gallery-image-box .img-desc p {
    color: #fff;
}

/*-----------------------Gallery section end here------------------------*/

/*------------------------Our Team section start here----------------------*/

.partner-image-group {
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}
.partner-image-group .partner-image-box {
    position: relative;
    flex: 1 1 168px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    background-color: #fff;
}
.partner-image-group .partner-image-box img {
    width: 100%;
    height: 96px;
}
/*------------------------Our Team section end here----------------------*/

/*-----------------------Contact section start here----------------------*/

form {
    position: relative;
    width: 100%;
}
form.contact {
    padding: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0 rgba(0, 0, 0, 0.1);
}
.input-group {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    display: flex;
}
.input-box {
    position: relative;
    width: 100%;
    margin-right: 15px;
}
.input-group:last-child,
.input-box:last-child {
    margin: 0;
}
.input-box input,
.input-box textarea {
    width: 100%;
    height: 38px;
    padding: 0 10px 0 38px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}
.input-box textarea {
    padding: 10px 10px 10px 38px;
    resize: none;
    height: 120px;
} 
.input-box input:focus,
.input-box textarea:focus {
    border: 1px solid #009846;
    box-shadow: 0 0 0 4px rgb(0, 152, 70,0.3);
}
.input-box .prepend {
    width: 38px;
    height: 36px;
    position: absolute;
    top: 1px;
    left: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #555;
}

.google-map {
    width: 100%;
    height: 100%;
}
.google-map iframe {
    width: 100%;
    border: none;
    min-height: 410px;
    border-radius: 5px;
}

/*-----------------------Contact section end here----------------------*/

/*----------------------------Footer start here--------------------------*/

footer {
    background: #252936;
}

footer p {
    color: #bbb;
    font-size: 13px;
}
footer p i {
    color: #fff;
    margin-right: 8px;
}

footer h3 {
    color: #fff;
    font-size: 20px;
}
.footer-brand {
    width: auto;
    height: 50px;
    margin-bottom: 20px;
}
.footer-brand img {
    width: auto;
    height: 100%;
}

footer ul li a {
    display: inline-block;
    padding: 6px 0px;
    color: #bbb;
    font-size: 13px;
}
footer ul li a:hover {
    color: #009846;
}
footer ul li a i {
    margin-right: 10px;
    color: #fff;
    font-size: 14px;
}
.footnote {
    width: 100%;
    padding: 15px;
    text-align: center;
    background-color: #0c0d12;
}
.footnote p {
    margin: 0;
}

#back-to-top {
    position: fixed;
    right: 30px;
    bottom: 20px;
    width: 40px;
    height: 40px;
    display: none;
    text-align: center;
    line-height: 40px;
    background: #009846;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2);
    animation: updown 0.8s linear infinite;
}

/*----------------------------Footer end here--------------------------*/


@media screen and (max-width: 721px){
    
    header {
        padding: 0 15px;
        height: 64px;
    }
    header, section, footer {
        padding: 15px;
    }

    .row {
        flex-direction: column;
    }

    .brand {
        width: auto;
        height: 48px;
    }

    nav {
        position: absolute;
        top: 100%;
        left: -100%;
        background: #74d2a0;
        width: 70%;
        height: 100vh;
    }
    nav.active {
        display: block;
        left: 0;
        transition: 0.3s;
    }
    nav ul {
        flex-direction: column;
    }
    nav ul li {
        width: 100%;
        margin: 0;
    }
    nav ul li.active,
    nav ul li:hover {
        border-bottom: none;
        background-color: #009846;

    }
    nav ul li a {
        display: flex;
        padding: 10px 20px;
        color: #000;
    }
    nav ul li a i {
        margin: 0;
        margin-right: 20px;
    }

    .menu {
        display: flex;
    }
    
    .order-change {
        order: 2;
        text-align: center;
    }

    form.contact {
    padding: 0;
    box-shadow: none
}

}